---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import "../../styles/global.css";
import type { CollectionEntry } from "astro:content";

const posts = (await getCollection("blog"))
  .filter((p) => !p.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const getPostTagColor = (post: CollectionEntry<"blog">) => {
  let classString = "post-tag";
  switch (post.data.tag) {
    case "Engineering":
      classString += " engineering";
      break;
    case "Music":
      classString += " music";
      break;
  }

  return classString;
};
---

<h2>Blog</h2>
{
  posts.map((post) => (
    <div class="post-item">
      <a href={`/blog/${post.slug}/`}>
        <h2 class="title">{post.data.title}</h2>
      </a>
      <span class="subtitle">
        {post.data.tag && (
          <span class={getPostTagColor(post)}>{post.data.tag}</span>
        )}
        <FormattedDate date={post.data.pubDate} />
      </span>
    </div>
  ))
}
